
.profil-card {
    max-width: 90%;
    height: calc(100vh - 150px);
    margin: 2% 5% ;
    padding: 1%;
}

.profil-content {
    height: 90%;
}

.profil-content-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.textfield {
    width: 70%;
}

.label {
    width: 30%;
}