.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 55px;
}

.logo {
    width: 50%;
}

.nav-icons {
    width: 30px;
    height: 30px;
}

.nav-links-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    a {
        text-decoration: none;
        color: white;
    }
}


.nav-profile {
    margin-right: -20px;
    min-width: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .nav-profile-content {
        min-width: 80px;
        line-height: 14px;
        display: flex;
        flex-direction: column;
        text-align: end;
        font-size: 11px;
        font-weight: 700;
    }
}